.character-name-link {
    color: inherit;                   
    text-decoration: none;             
    transition: color 0.25s ease;     
}

.character-name-link:hover {
    color: #167e9e;                    
    text-decoration: none;             
}

